/*
font-family: 'Cinzel', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Playfair Display SC', serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Long Cang', cursive;
font-family: 'Liu Jian Mao Cao', cursive;
*/
#main {
  box-shadow: 10px 10px grey;
  background-color: #eddd53;
}
body {

}
h3 {
  font-family: 'Cinzel', serif;

}
.title {
  font-size: 120%;
}
.time {
  font-style: italic;
  font-size: 110%;
}
.heading {
  text-align: center;
}
.photo {
  border-radius: 50px;
  text-align: center;
}
.details {
  text-align: center;
}
.block {
  padding: 10px;
}

div#content {
    display: none;
    }

div#loading {
    top:25%;
    left: 25%;
    right: 25%;
    margin: auto;
    position: absolute;
    z-index: 1000;
    background-position: center;
    width: 1600px;
    height: 240px;
    background: url(../img/loadingimage.gif) no-repeat;
    cursor: wait;
    }
