<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!---->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Great+Vibes&family=Liu+Jian+Mao+Cao&family=Long+Cang&family=Monoton&family=Montserrat+Alternates:wght@200&family=Playfair+Display+SC&family=Sacramento&family=Tangerine:wght@700&display=swap" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/mainpage.css') }}">
      <meta charset="utf-8">
      <script type="text/javascript">// <![CDATA[
        function preloader(){

            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        window.onload = window.setTimeout(preloader, 3000);
// ]]></script>
      <style media="screen">
    h1 {
      color: {{ color }};
      font-family: {{ font }};
    }
    h3 {
      color: {{ color }};
    }
    .details {
      color: {{ color }};
    }

    </style>
    <meta charset="utf-8">
  </head>

  <body>
  <div id="content">
    <div class="container" id="main">
      <div class="row">
        <div class="col-sm">
    {% block heading %}{% endblock %}

    <div class="container">
  <div class="row">
    <div class="col-sm">
      Choose the font you'd like to display this content with:
      <form class="" action="{{ url_for('font') }}" method="post">
        <!--
        <input type="submit" name="button" value="cursive">
        <input type="submit" name="button" value="fantasy">
        <input type="submit" name="button" value="Times">
        <input type="submit" name="button" value="Arial"> -->

        <button type="submit" name="button" value="cursive">&hearts;	Cursive</button>
        <button type="submit" name="button" value="fantasy">&hearts;	Fantasy </button>
        <button type="submit" name="button" value="Times">&hearts;	 Times</button>
        <button type="submit" name="button" value="Arial">&hearts;	Arial </button>
      </form>
    </div>
    <div class="col-sm">
      Choose the color you like:
      <form class="" action="{{ url_for('font') }}" method="post">
        <button type="submit" name="color" value="#c94c4c" style="background: #c94c4c">&hearts;</button>
        <button type="submit" name="color" value="#00baad"style="background: #00baad">&hearts; </button>
        <button type="submit" name="color" value="#900c3f" style="background: #900c3f">&hearts; </button>
        <button type="submit" name="color" value="#3d3d6b" style="background: #3d3d6b">&hearts; </button>
      </form>
    </div>
    <div class="col-sm">
      Choose the language you like:
      <form class="" action="{{ url_for('font') }}" method="post">
        <button type="submit" name="LAN" value="ENG" style="background: #c94c4c">&hearts;	Eng</button>
        <button type="submit" name="LAN" value="CHI"style="background: #00baad">&hearts;	Chi</button>
      </form>
      </div>
    </div>
  </div>
    {% block body %}
    {% endblock %}
        </div>
        </div>
      </div>
    </div>
    <div id="loading">

    </div>
  </body>
</html>
